apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - ../../base

patches:
  - target:
      kind: Ingress
      name: argocd-server-ingress
    patch: |-
      - op: add
        path: /metadata/annotations/alb.ingress.kubernetes.io~1group.name
        value: tracc-production
      - op: add
        path: /metadata/annotations/alb.ingress.kubernetes.io~1certificate-arn
        value: arn:aws:acm:us-east-1:883669803269:certificate/e4bfedba-0097-429e-ac36-ee9e36924efa