apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Reference the base configuration and AWS-specific resources
resources:
  - ../../base
  - ingress.yaml

# Patches for AWS environment
patchesStrategicMerge:
  - patches/expense-patch.yaml
  - patches/user-patch.yaml
  - patches/ui-patch.yaml

patches:
  # Add serviceAccount to all deployments
  - target:
      kind: Deployment
    patch: |-
      - op: add
        path: /spec/template/spec/serviceAccountName
        value: tracc-app-sa

# Update images to latest versions
images:
  - name: ghcr.io/khushal1198/tracc-expense
    newTag: master-53f5a9b
  - name: ghcr.io/khushal1198/tracc-user
    newTag: master-53f5a9b
  - name: ghcr.io/khushal1198/tracc-ui
    newTag: master-53f5a9b

# AWS-specific labels
labels:
  - pairs:
      environment: production
      cloud-provider: aws